.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 2px;
  }
  .pagination > li {
    display: inline;
  }
  .pagination > li > a,
  .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
  }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
  }
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
  }
  .pagination > li > a:hover,
  .pagination > li > span:hover,
  .pagination > li > a:focus,
  .pagination > li > span:focus {
    background-color: #eeeeee;
  }
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus {
    z-index: 2;
    padding: 4.4px 2px;
    color: #ffffff; 
    background-color: #fafafa;
    border-color: #ddd;
    /*background-color: #4372aa;
    border-color: #4372aa;*/
    cursor: default;
  }
  .pagination > .active > span > input{
    font-size: 12px;
  }
  .pagination > .disabled > span,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
    color: #999999;
    background-color: #ffffff;
    border-color: #dddddd;
    cursor: not-allowed;
  }
  .pagination-lg > li > a,
  .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
  }
  .pagination-lg > li:first-child > a,
  .pagination-lg > li:first-child > span {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
  }
  .pagination-lg > li:last-child > a,
  .pagination-lg > li:last-child > span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
  }
  .pagination-sm > li > a,
  .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
  }
  .pagination-sm > li:first-child > a,
  .pagination-sm > li:first-child > span {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
  }
  .pagination-sm > li:last-child > a,
  .pagination-sm > li:last-child > span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
  }
  .pagination
  {
    float:left;
  }

  .page_summary {
    float: right;
  }

  .dataTables_info {
    width: auto;
    float: left;
  }
  
  .dataTables_paginate {
    float: right;
    text-align: right;
  }